#projectsPage {
  padding-top: 60px;

  .row{
    width: 100%;
    
  }
  .card {
    background-color: rgb(126, 121, 167);
    width: 500px;
    height: 650px;
    padding: 5px;
    margin: 20px 10px 0px 10px;
    overflow: scroll;
    color: black;

    a {
      color: white;
    }
    li {
      background-color: darkgrey;
      color: black;
    }
  }
}