#projectsPage {
  padding-top: 60px;

  .project-thumbnail {
    max-width: 350px;
    height: auto;
    -webkit-appearance: none;
  }

  .modal-content {
    margin-top: 75px;
    text-align: center;
    background-color: rgb(126, 121, 167);
    color: white;

    .project-description {
      text-align: left;
    }

    .project-image {
      max-width: 466px;
      height: auto;
      margin-bottom: 20px;
    }  

    .github-link {
      background-color: #2C293A;
      color: white;
    }
  }


  .row {
    width: 100%;
    
  }
  .card {
    background-color: rgb(126, 121, 167);
    width: 500px;
    height: 650px;
    padding: 5px;
    margin: 20px 10px 0px 10px;
    overflow: scroll;
    color: black;

    a {
      color: white;
    }
    li {
      background-color: darkgrey;
      color: black;
    }
  }
}

.modal-backdrop {
  /* bug fix - no overlay */    
  display: none;    
}