#technologiesPage {
  text-align: center;
  padding-top: 60px;

  .iconBox {
    width: 71%;
    margin: 50px;

    ul {
      margin-bottom: 50px;

      li {
        margin: 20px;

        img {
          width: 128px;
          height: auto;
        }
      }
    }
  }
}