#technologiesPage {
  text-align: center;
  padding-top: 60px;

  .iconBox {
    width: 71%;
    margin: 50px;

    tr {
      margin-bottom: 50px;

      td {
        margin: 20px;
        padding: 20px;
        padding-top: 60px;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}