@import "~bootstrap/scss/bootstrap";

$iMightUseLater: rgb(60, 37, 73);

body {
     background-color:#393853;
     font-family: 'Lato', sans-serif;
     color: rgb(184, 243, 219);
     overscroll-behavior: none;
}

 #navLinks {
     display: flex;
     list-style: none;
     flex-wrap: wrap;
     margin-top: 25px;

 }
 .navTo {
     margin: 15px;
     padding: 10px;
     border-radius: 8px;
     background-color: seagreen;
     box-shadow: 2px 2px rgb(37, 112, 70);
     box-sizing: border-box;
     
 }
 