@import "~bootstrap/scss/bootstrap";


body {
    background-color: #2C293A;
     font-family: 'Lato', sans-serif;
     color: lightgray;
     overscroll-behavior: none;
}

 .parallax {
    perspective: 1.5px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-perspective-origin-x: 100%;
  }
  .parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -ms-transform-origin-x: 100%;
  }

  .parallax__layer--5 {
    transform: translateZ(0);
  }

  .parallax__layer--4 {
    transform: translateZ(-1px) scale(2);
  }
  
  .parallax__layer--3 {
    transform: translateZ(-2px) scale(3);
  }

  .parallax__layer--2 {
    transform: translateZ(-3px) scale(4);
  }
  .parallax__layer--1 {
    transform: translateZ(-4px) scale(5);
  }

  #contact {
    margin-top: 400px;
    text-align: center;
}