@import "~bootstrap/scss/bootstrap";

body {
     background-color: rgb(184, 243, 219);
     font-family: Arial, Helvetica, sans-serif;
    
}
nav {
     display: flex;
     background-color: #FFC1C4;
     color: lightcyan;
     padding-left: 25px;
     justify-content: space-between;
}
 #navLinks {
     display: flex;
     list-style: none;
     flex-wrap: wrap;
     margin-top: 25px;

 }
 .navTo {
     margin: 15px;
     padding: 10px;
     border-radius: 8px;
     background-color: seagreen;
     box-shadow: 2px 2px rgb(37, 112, 70);
     box-sizing: border-box;
     
 }
 
 .projectImg {
     background-color: lightcyan;
     /* border: 1px solid seagreen; */
     border-radius: 50%;
     width: 200px;
     padding: 5px;
     transition: transform .75s ease,
                 background-color .5s ease;
 }
 .projectImg:hover {
     transform: scale(1.1);
     background-color: rgb(184, 243, 219);
 }